body {
	margin: 0px;
	font-family:freight-sans-pro; 
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-weight: 300;
	font-size: 70pt;
	color: white;
}

h2 {
	font-weight: 300;
	font-size: 60pt;
	color: #40BA87;
	line-height: 1.2;
}


h3 {
	font-weight: 300;
	font-size: 25pt;
	color: white;
}

h3 a:hover {
	padding-left: 10px;
	transition: all 0.3s ease-in-out;
}

h4 a {
	padding-left: 0px; 
	font-size: 16pt; 
	color: #40BA87;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease-in-out;

}

h4 a:hover {
	padding-left: 10px;
	transition: all 0.3s ease;
}


h5 {
	font-family: freight-micro-pro;
	font-size: 20pt;
	font-weight: 400;
	font-style: italic;
}


p {
	font-size: 20pt;
	color: #2E1C4F;
	font-weight: 400;
	line-height: 29pt;
}

a {
	text-decoration: none;
}


h1 b {
	font-weight: 500;
}

b {
	font-weight: 600;
}

mark {
	background-color:  rgba(255, 211, 26, 0.5);
	padding: 0px 3px 0px 3px;
}


input {
	border: 0px;
	border-bottom: 1px solid white;
	background-color: transparent;
	font-family: freight-sans-pro;
	font-size: 20pt;
	font-weight: 500;
}

input [type=text]:focus {
	outline: none;

}

/***********************************************************************************************************************************************************

***********************************************************************************************************************************************************/

.opacityzero {
	opacity: 0;
	transition: ease-in-out all .3s;
}

.opacityone {
	opacity: 1;
	transition: ease-in-out all .3s;
}

/***********************************************************************************************************************************************************
Nav
***********************************************************************************************************************************************************/

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 600;
}

#nav img {
	width: 75%;
	height: auto;
	opacity: .7;
}

#logo {
	position: absolute;
	top: 40px;
	left: 40px;
	text-align: left;
}

#hamburger {
	position: absolute; 
	top: 40px;
	right: 40px;
	text-align: right;
}


#menu {
	width: 30%;
	height: 100%;
	position: absolute;
	right: -30%;
	background-color: black;
	opacity: .9;
	z-index: 500;
	transition: right .4s ease-in-out;
}

.menutext {
	padding: 100px;
}

.menutext p {
	color: white;
	font-size: 30pt;
	font-weight: 400;
	margin-bottom: 15px;
	position: relative;
	left: -10px;
}
.menutext p:hover {
	opacity: .5;
	transition: ease-in-out .1s all;
}

.menutext h5 {
	color: white;
	line-height: 1.8;
	margin: 0px;
	font-size: 15pt;
	transition: ease-in-out .1s all;

}

.menutext h5:hover {
	opacity: .5;
}

.menutext em {
	font-style: italic;
	font-family: freight-micro-pro;
	font-size: 15pt;
	font-weight: 600;
	text-decoration: none;
	color: white;
	position: relative;
	left: -15px;
	top: -15px;
	opacity: .5;

}



.sidenav {
	position: fixed;
	z-index: 500;
	width: 200px;
	height: 400px;
	top: 50%;
  	margin-top: -50px;
  	padding-left: 30px;
  	font-family: freight-micro-pro;
  	font-style: italic;
  	font-weight: 400;


}


.sidenav .words {
	padding-left: 7px;
	  transition: all 0.3s ease;
}

.sidenav .outer-side .words:hover { 
	padding-left: 15px;
	transition: all 0.3s ease;
}


.outer-circle {
	margin-top: 3px;
	margin-left: 10px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 100px;
	position: absolute;
}

.inner-circle {
	margin-top: 7px;
	margin-left: 14px;
	width: 6px;
	height: 6px;
	border-radius: 100px;
	background-color: #fff;
	position: absolute;
}

.words {
	color: #fff;
	margin-left: 28px;
}

.outer-side {
	margin-bottom: 10px;
	width: 150px;
}




.downarrow {
	position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    transition: all ease .3s;
}

.downarrow:hover {
	padding-bottom: 10px;
	transition: all ease .3s;
}

.downarrow p {
	font-family: freight-micro-pro;
	font-style: italic;
	color: #F0543A;
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
}

.downarrow a {
	text-decoration: none;
}

.subtext a {
	text-decoration: none;
	color: white;
}

.downarrow img {
	width: 40px;
}

/***********************************************************************************************************************************************************
Left & Right Half
***********************************************************************************************************************************************************/

.lefthalf{
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
} 

.lefthalf .text {
    margin-left: 25%;
    width: 45%;
    position: absolute;
    top: 50%;
    margin-top: -35%;
}

.righthalf{
	height: 100%; 
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
}

.righthalf .text {
    margin-left: 13%;
    width: 50%;
    position: absolute;
    top: 50%;
    margin-top: -35%;
}

/***********************************************************************************************************************************************************
Home 0
***********************************************************************************************************************************************************/

#home_0 {

}

#home_0 .text {
	width: 45%;
	margin: auto;
	text-align: center;
}

.subhead {
	width: 70%;
	margin: auto;
}

.subhead h3 {
	font-size: 23pt; 
	padding-top: 10px;
}

#home_0 .downarrow p {
	color: white;
	opacity: .5;
}

#home_0 .downarrow img {
	opacity: .5;
}




/***********************************************************************************************************************************************************
Home 1
***********************************************************************************************************************************************************/

.explore {
	width: 200px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -30px;
	z-index: 160;
	border: solid 2px white;
	text-align: center;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.explore:hover {
	background-color: white;
	opacity: .9;
}

.explore:hover h4 {
	color: black;
}

.explore h4 {
	color: white;
	font-family: freight-micro-pro;
	font-style: italic;
	font-size: 18pt;
	font-weight: 500;
	margin: 14px;
}

.colorblock {
	width: 50%;
	height: 50%;
	position: relative;
	float: left;
	background-image: url("assets/grid.png");
	text-align: center;
	z-index: 0;
	cursor: pointer;
	transition: ease-in-out all .3s;
}

.colorblock_overlay {
	background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 150;
    opacity: .7;
    position: absolute;
    transition: all .5s ease-in-out;
}

.activated .colorblock_overlay {
	background-color: black;
	opacity: 0;
}

.activated .colorblock_overlay:hover {
	opacity: 0;
}

.righthalfhover .colorblock_overlay {
    opacity: .8;
}

.blockselected .colorblock_overlay {
	opacity: .8;
}

.blockselected .colorblock.selected .colorblock_overlay {
	opacity: 0;
}

.blockillustration {
    width: 80%;
    height: 80%;
    z-index: 50;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10%;
    left: 10%;

}

.colorblock .title {
	position: absolute;
    left: 20px;
    top: 20px;
    text-align: left;
}

.colorblock .number {
	border: solid white 2px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-family: freight-micro-pro;
    font-weight: 500;
    font-size: 18pt;
    line-height: 20pt;
    color: white;
    font-style: italic;
}

.colorblock p {
	display: inline-block;
	margin: 0px 0px 0px 10px;
	font-family: freight-micro-pro;
    font-style: italic;
    color: white;
    font-size: 17pt;
}

#img1 {
	background-image: url("assets/illustrations/block1.png");
}

#img2 {
	background-image: url("assets/illustrations/block2.png");
}

#img3 {
	background-image: url("assets/illustrations/block3.png");
}

#img4 {
	background-image: url("assets/illustrations/block3.png");
}

.block2 img, .block3 img {
	position: relative;
	left: -30px;
}

.block1 {
	background-color: #44286D;
}

.block1.activated.selected {
	background-color: #241539;
}

.block2 {
	background-color: #FFDE17;
}

.block2.activated.selected {
	background-color: #B99B30;
}

.block3 {
	background-color: #2B8D66;
}

.block3.activated.selected {
	background-color: #1C5A41;
}

.block4 {
	background-color: #F0543A;
}

.block4.activated.selected {
	background-color: #B83B29;
}

.how { 
	padding: 10%;
    margin-left: 15%;
    margin-top: 5%;
}

.how h2 {
	font-size: 35pt;
	color:  #2E1C4F;
	font-weight: 400;
}

.how h6 {
	font-size: 12pt;
	font-weight: 600;
	text-transform: none;
	line-height: 1.3;
}

.how em {
	font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.howclose {
	float: right;
    background-image: url('assets/x.png');
    width: 57px;
    height: 58px;
    z-index: 1000;
    margin: 50px;
    visibility: hidden;
    cursor: pointer;
}

.howtop {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

.howtop h6 {
	padding-top: 8%;
	padding-bottom: 3%;
	color: #2E1C4F;
	margin: 0px;
}

.howbottom {
	display: block;
	vertical-align: top;
	width: 100%;
}

.howbottom h6 {
	color: #F0543A;
	padding-top: 5px;
	margin: 0px;
}

.howbottom hr {
	border: solid 1px #F0543A;
}

.how .chart {
	margin-left: -6%;
	width: 73%;
	display: inline-block;
}

.how .chart img {
	width: 100%;
}

.how .caption {
	width: 25%;
	display: inline-block;
	padding-left: 4%;
	margin: 0px;
	vertical-align: top;
}

#template2 .howtop h6 {
	color: #D7A31E;
}

#to_casestudies {
	visibility: hidden;
}
/***********************************************************************************************************************************************************
Home 2
***********************************************************************************************************************************************************/

#home_2 .lefthalf {
	transition: opacity 0.2s ease-in-out;
	transition: width 0.3s ease-in-out;
	transition: background-image .3s ease-in-out;
	z-index: 0;
}

.howclose_company {
	position: absolute;
    background-image: url('assets/x.png');
    width: 57px;
    height: 58px;
    z-index: 1000;
    margin: 50px;
    visibility: hidden;
    cursor: pointer;
}

.companyblock {
	width: 50%;
	height: 50%;
	position: relative;
	float: left;
	background-image: url("assets/grid.png");
	text-align: center;
	z-index: 0;
	cursor: pointer;
	transition: ease-in-out all .3s;
}

.blocklogo {
    width: 300px;
    height: 300px;
    z-index: 50;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    text-align: center;

}

.companyblock.block1 {
	background-image: url("assets/photos/company_patagonia.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.companyblock.block2 {
	background-image: url("assets/photos/company_etsy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.companyblock.block3 {
	background-image: url("assets/photos/company_method.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.companyblock.block4 {
	background-image: url("assets/photos/company_warbyparker.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo1 {
	background-image: url("assets/logos/patagonia.png");
}

#logo2 {
	background-image: url("assets/logos/etsy.png");
}

#logo3 {
	background-image: url("assets/logos/method.png");
}

#logo4 {
	background-image: url("assets/logos/warbyparker.png");
}

.explore_casestudies {
	width: 300px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -30px;
	z-index: 160;
	border: solid 2px white;
	text-align: center;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.explore_casestudies:hover {
	background-color: white;
	opacity: .9;
}

.explore_casestudies:hover h4 {
	color: black;
}

.explore_casestudies h4 {
	color: white;
	font-family: freight-micro-pro;
	font-style: italic;
	font-size: 18pt;
	font-weight: 500;
	margin: 14px;
}

.blockselected .companyblock.selected .colorblock_overlay {
	opacity: 0;
}

.lefthalfhover .colorblock_overlay {
    opacity: .8;
}

.holder_company {
	height: inherit;

}

.case {
	overflow: scroll;
	height: 100%;
	width: 100%;
	position: absolute;
}

.casetext {
	width: inherit;
}

.casetext .main {
	 padding: 50px 300px 50px 275px;
}

.casetext .practices {
	 padding: 0px 0px 0px 0px;
}

.casetext h2 {
	margin-bottom: 25px;
    margin-left: -5px;
}

.casetext h3 {
	font-weight: 300;
    font-size: 30pt;
    margin-left: -50px;
    color: #40BA87;
}

.casetext p {
	margin-left: 0px;
}

.casetext h4 {
	font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 1pt;
    color: #40BA87;
    padding-top: 40px;
}

.casetext h5 {
	padding: 15px 15px 15px 33%;
	margin: 0px;
	font-family: freight-sans-pro;
	font-style: normal;
	font-weight: 500;
	font-size: 30pt;
	color: white;
}

.casetext hr {
	width: 50px;
    margin: 0px;
    border: 1px solid #44286D;
}


.casetext .category {
	padding: 100px 200px 100px 100px;
}

.casetext .icon {
	display: inline-block;
    width: 29%;
    vertical-align: top;
    text-align: center;
}

.casetext .icon img {
	width: 200px;
}

.casetext .description {
	display: inline-block;
	width: 65%;
	padding-left: 4%;

}

.casetext a {
		transition: all 0.3s ease-in-out;
}

.casetext a:hover {
	padding-left: 10px;
	transition: all 0.3s ease;
}
/***********************************************************************************************************************************************************
Home 3
***********************************************************************************************************************************************************/

#home_3 {
	z-index: 200;
}

#home_3 .text{
	width: 50%;
	margin: auto;
}

#home_3 .subtext {
	width: 400px;
	height: 30px;
	float: left;
	margin-left: 200px;
	margin-bottom: 300px;

}

#home_3 h2{
	color: white;
	text-align: center;
}

#home_3 h3{
	font-size: 35pt;
	font-weight: 500;
}

#home_3 p{
	color: white;
}



/***********************************************************************************************************************************************************
***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************
***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************
***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************
Startups 0
***********************************************************************************************************************************************************/

#startups_0 .downarrow p {
	color: white;
	opacity: .5;
}

#startups_0 .downarrow img {
	opacity: .5;
}

#startups_0 {
	text-align: center;
}

#startups_0 .text {
	width: 45%;
	margin: auto;
}


/***********************************************************************************************************************************************************
Startups 1
***********************************************************************************************************************************************************/


#startups_1 .lefthalf {
	background-image: url("assets/photos/startups.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/***********************************************************************************************************************************************************
Startups 2, 3, 4
***********************************************************************************************************************************************************/

.actionsteps {
	position: absolute;
	left: 12%;
	top: 10%;
}

#startups_2 h2, #startups_3 h2, #startups_4 h2 {
	color: white;
}

#startups_2 .actionsteps hr, #startups_3  .actionsteps hr, #startups_4  .actionsteps hr {
	border: solid 1px white;
	position: absolute;
	left: 0px;
	margin-top: -25px;
}

#startups_2 .steps hr, #startups_3  .steps hr, #startups_4  .steps hr {
	border: solid 1px white;
	position: relative;
	margin-top: -15px;
	margin-bottom: 5px;
}

.actionsteps .steps {
	left: 50%;
	margin-left: -570px;
	position: relative;
	padding-top: 50px;
}

.actionsteps .steps .item {
	width: 260px;
	height: 400px;
	display: inline-block;
	margin: 50px;
	vertical-align: top;
}


.steps .item p {
	font-size: 15pt;
	font-weight: 500;
	line-height: 1.5;
}




#startups_3 .steps .item h5 {
	color: white;
}

#startups_4 .steps .item h5 {
	color: white;
}


.steps .item h5 {
	text-align: center;
	margin: 30 0 20 0px;
	color: #2E1C4F;
}

.steps .item img {
	width: 250px;
	height: auto;
	position: relative;
    left: 50%;
    margin-left: -125px;
    top: 0px;
    transition: ease-in-out top .4s;
}


.steps .item img:hover {
	top: -30px;
}


/***********************************************************************************************************************************************************
Startups 5
***********************************************************************************************************************************************************/


#startups_5 .righthalf table{
	width: 80%;
	margin: auto;
	margin-top: 20%;
	font-size: 13pt;
	font-weight: 500;
}

#startups_5 .righthalf table tr{
    vertical-align: top;
    color: #2E1C4F;
}

#startups_5 .righthalf table td{
	padding: 15px 20px 15px 20px;

}

.white1 {
	background-color: rgba(255, 255, 255, .8);
}
.whiterow {
	background-color: rgba(255, 255, 255, 0.29);
}

/***********************************************************************************************************************************************************
Startups 6
***********************************************************************************************************************************************************/

#startups_6 .text{
	width: 50%;
	margin: auto;
}
#startups_6 h2{
	color: white;
	text-align: center;
}

#startups_6 p{
	color: white;
	text-align: center;
}

#startups_6 img {
	height: 200px;
	display: inline-block;
	padding-top: 50px;
	padding-left: 50px;
	cursor: pointer;
}

#startups_6 img:hover {
	opacity: .6;
	transition: all ease-in-out .4s;
}


#startups_6 h4 {
	padding-left: 100px;
	padding-top: 20px;
}


/***********************************************************************************************************************************************************
***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************
***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************
***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************
Students 0
***********************************************************************************************************************************************************/

#students_0 .downarrow p {
	color: white;
	opacity: .5;
}

#students_0 .downarrow img {
	opacity: .5;
}

#students_0 {
	text-align: center;
}

#students_0 .text {
	width: 45%;
	margin: auto;
}

/***********************************************************************************************************************************************************
Students 2
***********************************************************************************************************************************************************/
.navbackground {
	width: 400px;
	height: inherit;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 200;
	background-color: #2E1C4F;
}


.special-friend {
    position: relative;
    white-space: nowrap;
    height: 100%;
}

.rightarrow {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 100;
	background-color: black;
	opacity: .5;
}

.leftarrow {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 399px;
	z-index: 100;
	background-color: black;
	opacity: .5;
}


.pastwinner {
	width: 500px;
	height: inherit;
	display: inline-block;
	background-image: url("assets/grid.png");
    background-repeat: repeat;
    position: relative;
    margin-left: -2px;
    margin-right: -2px;
    left: -100px;

}

.pastwinner h3 {
	font-family: freight-sans-pro;
	font-style: normal;
	color: white;
	font-size: 30pt;
	padding-top: 30px;
}

.pastwinner a {
	color: white;
}

.pastwinner p {
	white-space: normal;
    padding: 100px 50px 0px 50px;
    text-align: left;
    color: white;
}

.pastwinner_university {
	top: 0;
	padding: 50px 0px 0px 0px;
	width: 100%;
	position: absolute;
	color: white;
	text-align: center;
	font-size: 1em;
	font-family: freight-micro-pro;
	font-style: italic;
	font-weight: 400;
}

	.darkyellow .pastwinner_university {
	color: #44286D;
	}


.pastwinner_illustration {
	position: absolute;
	top: 30%;
	width: 500px;
	height: 600px;
	text-align: center;
}

.pastwinner .text {
	width: 100%;
	position: absolute;
	top: 72%;
}

.pastwinner.darkyellow .text p {
	color: #44286D; 
}

.pastwinner_learnmore {
	visibility: hidden;
	bottom: 0;
	padding: 30px 0px 30px 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.38);
	position: absolute;
	font-size: 1.5em;
	color: white;
	text-align: center;
	cursor: pointer;

}
.pastwinner_learnmore:hover {
	background-color: rgba(0, 0, 0, 0.6);
}


/***********************************************************************************************************************************************************
Students 3
***********************************************************************************************************************************************************/

#founder_1{
	background-image: url("assets/photos/casey.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#founder_2{
	background-image: url("assets/photos/noah.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

#founder_3 {
	background-image: url("assets/photos/ashley.png");
	background-repeat: no-repeat;
	background-size: cover;
}


.quote {
	font-weight: 300;
	font-size: 4em;
	color: #2E1C4F;
}

.fp-controlArrow.fp-prev  {
	left: 450px;
}

.fp-controlArrow.fp-next  {
	right: 3%;
}

#students_3 .text {
	position: relative;
	left:26%;
	top: 0;
	width: 750px;
}


#students_3 .text p {
	font-family: freight-micro-pro;
	font-size: 18pt;
	font-weight: 400;
	color: #F0543A;
	padding-left: 45px;
}

#students_3 h4 {
	padding-left: 45px;
}

#students_3 .quoteby {
	text-transform: uppercase;
	color: #2E1C4F !important;
	font-size: 15pt !important;
	font-family: freight-sans-pro !important;
	font-weight: 500 !important;
	letter-spacing: 1 !important;
	margin-top: -30px;
	margin-bottom: 100px;
}

blockquote {
	text-indent: -0.5em;
	}


#founder_2 .text {
	position: relative;
	left: 57%;
	top: 0px;
	width: 850px;
}


/***********************************************************************************************************************************************************
Startups 5
***********************************************************************************************************************************************************/


#students_5 .text{
	width: 50%;
	margin: auto;
}
#students_5 h2{
	color: white;
	text-align: center;
}

#students_5 p{
	color: white;
	text-align: center;
}

#students_5 form {
	text-align: center;
	
}

#students_5 input {
	margin: 20px;
	padding-top: 20px;
	width: 400px;
	color: white;
	
}

#students_5 button {
	width: 200px;
	height: 60px;
	z-index: 160;
	border: solid 2px white;
	text-align: center;
	transition: all .2s ease-in-out;
	cursor: pointer;
	background-color: transparent;
	position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 50px;
}

#students_5 button:hover {
	background-color: white;
	opacity: .9;
}

#students_5 button:hover h4 {
	color: black;
}

#students_5 button h4 {
	color: white;
	font-family: freight-micro-pro;
	font-style: italic;
	font-size: 18pt;
	font-weight: 500;
	margin: 14px;
	margin-top: 0px;
}


/***********************************************************************************************************************************************************
Startups 1
***********************************************************************************************************************************************************/


#students_1 .lefthalf {
	background-image: url("assets/photos/clio.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}


.red {background-color: #F0543A !important;}

.lightyellow {background-color: #FFF200 !important;}

.darkyellow {background-color: #FFD31A !important;}

.lightgreen {background-color: #40BA87; }

.darkgreen {background-color: #2B8D66;}

.lightpurple {background-color: #44286D;}

.darkpurple {background-color: #2E1C4F;}

.black {background-color: black;}

.white {background-color: white;}


/***********************************************************************************************************************************************************
Media Queries
***********************************************************************************************************************************************************/



@media screen and (max-width: 1980px) {
   h1 {
   	font-size: 45pt;
   }

   h2 {
    font-size: 40pt;
   }

   h3 {
   	font-size: 20pt;
   }

   h4 a {
   	font-size: 15pt;
   }


   p {
   	font-size: 15pt;
   	line-height: 23pt;
   }

#home_3 .subtext {
   	width: 300px;
   	margin-left: 100px;
   	margin-top: 50px;
   }
#home_3 h2 {
	margin-top: 150px;
   }

.casetext .main {
	padding: 50px 100px 50px 150px;
}

.casetext .practices {
	padding: 0px 0px 0px 0px;
}

.casetext .category {
	padding: 100px 100px 100px 100px;
}

#startups_5 .righthalf table{ 
	margin-top: 15%;
	font-size: 10pt;
	}


}


