@import url(https://fonts.googleapis.com/css?family=freight-micro-pro:400,400italic,700,700italic);

body {
	margin: 0px;
	font-family:freight-sans-pro, calibri; 
}


h1 {
	font-weight: 300;
	font-size: 5.5em;
	color: white;
}

h2 {
	font-weight: 300;
	font-size: 4em;
	color: #40BA87;
}

p {
	font-size: 1.8em;
	color: #44286D;
}

.darkyellow p {
	color: #44286D !important;
}


.darkyellow h1 {
	color: #44286D !important;
}

.darkyellow hr {
	border-color: #44286D !important;
}

blockquote {
	text-indent: -0.5em;
	}

a {
	text-decoration: none;
}

a p:hover {
	color:#2E1C4F;
}

.quote {
	font-weight: 300;
	font-size: 4em;
	color: #2E1C4F;
}

.slide{
		position: relative;
}

.logo {
	position: absolute;
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
	margin: 35px;
}

	.logored {
		background-image: url("assets/logo_red.svg");
	}

	.logowhite {
		background-image: url("assets/logo_white.svg");
	}

.hamburger {
	position: absolute;
	right:35;
	top: 45;
	width: 50px;
	height: 50px;
	background-image: url("assets/hamburger.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.header {
	height: 20px;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.sidenav {
	position: fixed;
	z-index: 100;
	width: 400px;
	height: 400px;
	top: 50%;
  	margin-top: -50px;
  	padding-left: 30px;

}




.outer-circle {
	margin-top: 3px;
	margin-left: 10px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 100px;
	position: absolute;
}

.inner-circle {
	margin-top: 7px;
	margin-left: 14px;
	width: 6px;
	height: 6px;
	border-radius: 100px;
	background-color: #fff;
	position: absolute;
}

.words {
	color: #fff;
	margin-left: 28px;
}

.outer-side {
	margin-bottom: 10px;
}


.landingtext {
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	width: 45%;
	position: absolute;
	top: 35%
}


.slidetextleft {
	width: 50%;
	height: inherit;
	position: absolute;
}

.slidetextright {
	width: 50%;
	height: inherit;
	position: absolute;
	right:0;
}

.slidetextparagraph {
	width: 45%;
	position: absolute;
	left: 20%;
	top: 20%;
}

.slideimages {
	width: 50%;
	height: inherit;
	position: absolute;
	right: 0px;

}



.imageblock {
	width: 50%;
	height: 50%;
	float: left;
	background-image: url("assets/grid.png");
    background-repeat: repeat;
    position: relative;
}

.imageblock:hover {
	opacity: .7;
}

.imageblock img {
	position: absolute;
	left: 20%;
	top: 10%;
}





.choose {
	position: absolute;
	top: 40%;
	left: 38%;
	margin: auto;
	width: 800px;
	height: 300px;
}

.choosebox {
	width: 400px;
	height: 200px;
	display: inline;
	float: left;
}

.choosebox h1 {
	font-size: 30pt;
	color: white;
}







/***************************
****************************
Students
****************************
***************************/

.signup {
	width: 60px;
	height: 85px;
	position: fixed;
	right:0;
	top: 15%;
	z-index: 200;
	font-family: freight-micro-pro;
	font-weight: 400;
	font-size: 5pt;
	padding: 25 15 25 15;
	text-align: center;
}

.signup img {
	width: 90%;
}

.signup p {
	color: white;
	padding-top: 5;
	letter-spacing: 1;
}

.signup:hover {
	opacity: 1 !important;
}

.signup:hover p {
	opacity: .9;
}



#sectionlinks p {
	color: #F0543A;
}

.navbackground {
	position: absolute;
	left: 0px;
	width: 400px;
	z-index: 90;
}

.slideimageleft {
	width: 50%;
	height: inherit;
	position: absolute;
	left: 0px;
	background-image: url("assets/photos/clio.jpg");
	background-size: cover;
	background-position: right;

}


.special-friend {
    position: relative;
    white-space: nowrap;
}

.arrow {
	position: absolute;
	width: 90px;
	height: 100px !important; 
	top: 45%;
	z-index: 90;
	background-color: rgba(0, 0, 0, 0.38);
}

.leftarrow {
	left:400;
}

.rightarrow {
	right: 0;

}

.arrow:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.arrow div {
	position: absolute;
	top: 20px;
	text-align: center;
	opacity: .9;
}

.pastwinner {
	width: 500px;
	height: inherit;
	display: inline-block;
	background-image: url("assets/grid.png");
    background-repeat: repeat;
    position: relative;
    margin: -2;
    left: -100px;

}


.pastwinner_university {
	top: 0;
	padding: 50 0 0 0;
	width: 100%;
	position: absolute;
	color: white;
	text-align: center;
	font-size: 1em;
	font-family: freight-micro-pro;
	font-style: italic;
	font-weight: 400;
}

	.darkyellow .pastwinner_university {
	color: #44286D;
	}


.pastwinner_illustration {
	position: absolute;
	top: 30%;
	width: 500px;
	height: 600px;
	text-align: center;
}



.pastwinner_learnmore {
	bottom: 0;
	padding: 30 0 30 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.38);
	position: absolute;
	font-size: 1.5em;
	color: white;
	text-align: center;

}



.founderstext {
	position: absolute;
	left: 20%;
	top: 100px;
	width: 750px;
}



.timeline {
	position: absolute;
	right: 0;
	top: 40%;
	bottom: 0;
	margin: auto;
}

.timelineblock {
	width: 350px;
	height: 350px;
	position: relative;
	float: left;
	display: inline-block;
	text-align: center;
	margin: auto;

}

.timelineblock p {
	font-size: 14pt;
	color: white;
	font-style: italic;
	font-family: freight-micro-pro;
	font-weight: 400;
	letter-spacing: 1;
	margin: 50px;
	text-align: left;
	color: white;
}

.timelineblock h1 {
	font-size: 14pt;
	color: white;
	font-style: italic;
	font-family: freight-micro-pro;
	font-weight: 400;
	letter-spacing: 1;
	margin: 50px;
	text-align: center;
}


.timelineblockbig {
	position: absolute;
	width: 350px;
	height: 350px;
	opacity: 0;
	left: 0px;
	top: 0px;
	z-index: 100;
}

.timelineblockbig h1 {
	text-align: center;
	font-size: 14pt;
	color: white;
	font-style: italic;
	font-family: freight-micro-pro;
	font-weight: 400;
	letter-spacing: 1;
	margin: 50px;

}


.timelineblockbig p {
	text-align: left;

}



.timelineblockbig:hover {
	width: 400px;
	height: 750px;
	left: -25px;
	top: -200px;
	opacity: 1; 

}

.timelineblockbig:hover hr {
	width: 100px;
	border: solid white 1px;
}



#students_slide1 {
	background-image: url("assets/grid.png");
    background-repeat: repeat;
}

#students_slide1 h1 {
	color: #2E1C4F;
}

#students_slide2 {

}


#students_slide4 {
	background-image: url("assets/photos/casey.jpg");
	background-size: cover;
	background-position: right;
}

#students_slide65 {


}

#students_slide6 {

}


.footer {
	width: 100%;
	height:250px;
}

.landing {

}



.red {background-color: #F0543A;}

.lightyellow {background-color: #FFF200;}

.darkyellow {background-color: #FFDE17;}

.lightgreen {background-color: #40BA87; }

.darkgreen {background-color: #2B8D66;}

.lightpurple {background-color: #44286D;}

.darkpurple {background-color: #2E1C4F;}

.black {background-color: black;}

.white {background-color: white;}



@media (max-width: 600px) {
 	
 	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2.2em;
	}

	p {
		font-size: 1.3em;
	}

	.words {
		opacity: 0 !important;
	}

	.slidetextleft {
		width: 100%;
		display: block;
	}

	.slideimages {
	width: 100%;
	height: inherit;
	right: 0px;
	}



}

}